MYSQL_DB_HOST=localhost
MYSQL_DB_USER=christophe
MYSQL_DB_PASSWORD=your_password_here
MYSQL_DB_NAME=checkpoint

NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
